{{yield}}
<div>
{{#if interactive}}

  {{#sc-calculate action="clockSubcomponent" feature=interaction theLabel="Calculate set class" class="app-btn" thePcs=(action 'passPcs')}}

  {{/sc-calculate}}
{{/if}}
<button type="button" class="close serial-close" {{action 'toggleVisibility'}}>
  <span aria-hidden="true"><i class="fa fa-times"></i></span>
</button>
</div>
  <svg id="clock-face" version="1.1" viewBox="0 0 800 800">
    <text id="textline-0" x="405" y="370" font-family="Verdana" font-size="30" text-anchor="middle"></text>
    <text id="textline-1" x="405" y="410" font-family="Verdana" font-size="30" text-anchor="middle"></text>
    <g id="labels">
    </g>
    <g id="the-clock">
      <circle id="back-circle" cx="405" cy="390" r="300" fill="transparent" stroke="black" stroke-width="6"/>
      <g id="pc-lines"></g>
      <g id="pc-circles"></g>
    </g>
  </svg>
  <div>

    {{!--#sc-calculate feature="calculator" theLabel=buttonLabel class="app-btn" sendPcs=(action 'sendPcs') showSC=(action 'showTheSC')--}}
    {{#sc-calculate action="clockSubcomponent" feature=interaction theLabel="Calculate set class" class="app-btn" thePcs=(action 'passPcs')}}
    {{/sc-calculate}}
<button type="button" class="btn btn-default serial-close btm-close" {{action 'toggleVisibility'}}>Close</button>
</div>
