{{yield}}
{{input id="row" placeholder="E.g., 219t5340876e"}}
<div id="serial-buttons">
  <button class="app-btn" {{action 'twelveByMatrix'}}>Matrix</button>
</div>
<div id="serial-stuff">
  <div id="twelve-by-matrix" class="container">
  </div>
</div>
