 {{yield}}
<div id="set-theory-buttons">
  <button class="app-btn" {{action 'toggleThisProperty' 'primeformsVisible'}}>Prime Form List</button>
  &emsp;
  <button class="app-btn" {{action 'setUp' 'clockVisible' 'calculator'}}>Clock Face Calculator</button>
  &emsp;
  <button class="app-btn" {{action 'toggleThisProperty' 'quizzerVisible'}}>Prime Form Quizzer</button>

</div>

<div class="container">

    {{#if clockVisible}}
      <div id="clock-face-wrapper">

          {{#clock-face cardinality='12' interactive=true action="handleSubcomponents" theInteraction=interaction}}
          {{/clock-face}}

      </div>
    {{/if}}

    {{#if primeformsVisible}}
      {{#primeform-list action="handleSubcomponents"}}
      {{/primeform-list}}
    {{/if}}
    {{#if quizzerVisible}}
      {{#primeform-quizzer}}
      {{/primeform-quizzer}}
    {{/if}}

</div>
