 {{yield}}
<div id="set-theory-buttons">
  <button class="app-btn" {{action 'toggleThisProperty' 'primeformsVisible'}}>Prime Form List</button>
  &emsp;
  <button class="app-btn" {{action 'toggleThisProperty' 'clockVisible'}}>Clock Face Calculator</button>

</div>

<div class="container">

    {{#if clockVisible}}
      <div id="clock-face-wrapper">

          {{#clock-face cardinality='12' set-calculate=true action="handleSubcomponents" buttonLabel="Calculate set class"}}
          {{/clock-face}}

      </div>
    {{/if}}

    {{#if primeformsVisible}}
      {{#primeform-list action="handleSubcomponents"}}
      {{/primeform-list}}
    {{/if}}


</div>
