{{yield}}

<div id="notaterWrapper">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 274.1 41.4" style="enable-background:new 0 0 274.1 41.4;" xml:space="preserve">

<g>
	<path class="staffLines" d="M0,29.7h274.1 M0,24.7h274.1 M0,19.7h274.1 M0,14.8h274.1 M0,9.8h274.1"/>
</g>
<g>
	<path d="M11.9,29.5c-4.2,0-8.1-3.1-8.1-6.9c0-3.2,2.3-6.7,6.8-10.5c-0.3-1.2-0.4-2.4-0.4-3.6c0-3.5,1.2-6.8,3.2-8.5
		c1.8,2.5,2.7,4.9,2.7,7.1c0,2.9-1.4,5.6-4.3,8.1l0.9,4.2c0.5,0,0.8-0.1,0.8-0.1c2.6,0,4.8,2,4.8,4.7c0,1.9-1.5,3.8-3.6,4.8
		c0-0.1,0.9,3.8,0.9,4.4c0,2.5-2.3,4.2-4.9,4.2c-2,0-3.6-1.3-3.6-3.4c0-1.5,1-2.6,2.4-2.6c1.3,0,2.3,1.3,2.3,2.5
		c0,1.4-1.2,2.3-2.7,2.5c0.6,0.3,1.2,0.5,1.9,0.5c2.1,0,4.1-1.6,4.1-3.6c0-0.2,0-0.4-0.1-0.6L14.1,29C13.5,29.3,12.8,29.5,11.9,29.5
		z M9.7,24.2c0,1,0.5,1.9,1.6,2.5c-1.8-0.3-3-1.5-3-3.1c0-2,1.8-3.7,3.8-4.2l-0.8-4c-3.7,2.8-5.7,5.5-5.7,8.2c0,2.9,2.8,5.3,6,5.3
		c0.9,0,1.7-0.2,2.4-0.5l-1.4-6.8C10.9,21.9,9.7,22.9,9.7,24.2z M13.7,2.8c-1.7,0-2.9,3.7-2.9,7c0,0.7,0,1.3,0.2,1.9
		c2.7-2.4,4.1-4.6,4.1-6.5c0-0.9-0.3-1.7-1-2.4C14,2.9,13.8,2.8,13.7,2.8z M16.5,24.8c0-1.7-1.2-3.3-2.9-3.3c-0.1,0-0.2,0-0.5,0
		l1.4,6.6C15.8,27.2,16.5,26.1,16.5,24.8z"/>
</g>
<g id="noteGroups">
<g id="reference" class="noteGroup">
	<g class="note" id="_0">
		<line class="st1" x1="28.7" y1="34.6" x2="39.3" y2="34.6"/>

		<path d="M30.6,35.5c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,37.2,30.6,36.5,30.6,35.5z"/>
	</g>
	<g class="note" id="_1">
		<line class="st1" x1="28.7" y1="34.6" x2="39.3" y2="34.6"/>
		<g>
			<path d="M30.6,35.5c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,37.2,30.6,36.5,30.6,35.5z"/>
		</g>
		<g>
			<path d="M26.9,27.8v2.8l1-0.3v1.8l-1,0.3v3.4l1-0.3v1.8l-1,0.3v3.1h-0.5v-3l-1.9,0.6v3H24v-2.8l-1,0.3v-1.8l1-0.3v-3.4l-1,0.3
				v-1.8l1-0.3v-3.1h0.5v3l1.9-0.6v-3H26.9z M26.4,32.6l-1.9,0.6v3.4l1.9-0.6V32.6z"/>
		</g>
	</g>
	<g class="note" id="_2">
		<path d="M30.6,33c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,34.7,30.6,34.1,30.6,33z"/>
	</g>
	<g class="note" id="_3">
		<path d="M30.6,33c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,34.7,30.6,34.1,30.6,33z"/>
		<g>
			<path d="M28.2,25.3v2.8l1-0.3v1.8l-1,0.3v3.4l1-0.3v1.8l-1,0.3v3.1h-0.5v-3l-1.9,0.6v3h-0.5v-2.8l-1,0.3v-1.8l1-0.3v-3.4l-1,0.3
				v-1.8l1-0.3v-3.1h0.5v3l1.9-0.6v-3H28.2z M27.7,30.1l-1.9,0.6v3.4l1.9-0.6V30.1z"/>
		</g>
	</g>
	<g class="note" id="_4">
		<path d="M30.6,30.5c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,32.2,30.6,31.6,30.6,30.5z"/>
	</g>
	<g class="note" id="_5">
		<path d="M30.6,28c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,29.7,30.6,29.1,30.6,28z"/>
	</g>
	<g class="note" id="_6">
		<path d="M30.6,28c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,29.7,30.6,29.1,30.6,28z"/>
		<g>
			<path d="M28.2,20.3v2.8l1-0.3v1.8l-1,0.3v3.4l1-0.3v1.8l-1,0.3v3.1h-0.5v-3L25.8,31v3h-0.5v-2.8l-1,0.3v-1.8l1-0.3v-3.4l-1,0.3
				v-1.8l1-0.3v-3.1h0.5v3l1.9-0.6v-3H28.2z M27.7,25.1l-1.9,0.6v3.4l1.9-0.6V25.1z"/>
		</g>
	</g>
	<g class="note" id="_7">
		<path d="M30.6,25.5c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.7-2.5,3.5-4.6,3.5C31.6,27.2,30.6,26.6,30.6,25.5z"/>
	</g>
	<g class="note" id="_8">
		<path d="M30.6,25.5c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.7-2.5,3.5-4.6,3.5C31.6,27.2,30.6,26.6,30.6,25.5z"/>
		<path d="M28.1,17.8v2.8l1-0.3v1.8l-1,0.3v3.4l1-0.3v1.8l-1,0.3v3.1h-0.5v-3l-1.9,0.6v3h-0.5v-2.8l-1,0.3v-1.8l1-0.3v-3.4l-1,0.3
			v-1.8l1-0.3v-3.1h0.5v3l1.9-0.6v-3H28.1z M27.7,22.6l-1.9,0.6v3.4l1.9-0.6V22.6z"/>
	</g>
	<g class="note" id="_9">
		<path d="M30.6,23c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,24.7,30.6,24.1,30.6,23z"/>
	</g>
	<g class="note" id="_t">
		<path d="M30.6,23c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,24.7,30.6,24.1,30.6,23z"/>
		<g>
			<path d="M28.1,15.3v2.8l1-0.3v1.8l-1,0.3v3.4l1-0.3v1.8l-1,0.3v3.1h-0.5v-3L25.7,26v3h-0.5v-2.8l-1,0.3v-1.8l1-0.3v-3.4l-1,0.3
				v-1.8l1-0.3V16h0.5v3l1.9-0.6v-3H28.1z M27.7,20.1l-1.9,0.6v3.4l1.9-0.6V20.1z"/>
		</g>
	</g>
	<g class="note" id="_e">
		<path d="M30.6,20.5c0-1.8,2.5-3.5,4.5-3.5c1.3,0,2.3,0.7,2.3,1.7c0,1.8-2.5,3.5-4.6,3.5C31.6,22.3,30.6,21.6,30.6,20.5z"/>
	</g>
</g>
</g>
</svg>
</div>
