<header id="app-header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    {{#link-to 'index' id='logo'}} Post-Tonal Tools{{/link-to}}
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'twelve-tone'}}Twelve-Tone Tools{{/link-to}}</li>
        <li>{{#link-to 'pc-sets'}}PC Set Tools{{/link-to}}</li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    {{outlet}}
    <footer class="footer">
      <small>
        {{#link-to 'index'}}Post-Tonal Tools{{/link-to}} | &copy; {{get-date 'year'}} Sebastiano Bisciglia
      </small>
      <nav>
        <ul>
        </ul>
      </nav>
    </footer>
  </div>
