<div class="containe">
  <div class="jumbotron">
    <h2 class='center'>Welcome! Select a Post-Tonal Tool to get started</h2>
    {{#link-to 'twelve-tone' class='app-btn'}}Twelve-Tone Tools{{/link-to}}
  </div>
</div>
{{outlet}}
