<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h2 class='center'>Welcome! Select a Post-Tonal Tool to get started</h2>
      {{#link-to 'twelve-tone' class='app-btn'}}Twelve-Tone Tools{{/link-to}}&emsp;
      {{#link-to 'pc-sets' class='app-btn'}}Pitch-Class Set Tools{{/link-to}}
    </div>
  </div>


</div>

{{outlet}}
